<!--
	use the left and right arrow keys on your keyboard or just swipe left and right on your smart phone to interact with the slider
-->

<section id="testim" class="testim">
<!--         <div class="testim-cover"> -->
            <div class="wrap">

                <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
                <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
                <ul id="testim-dots" class="dots">
                    <li class="dot active"></li><!--
                    --><li class="dot"></li><!--
                    --><li class="dot"></li><!--
                    --><li class="dot"></li><!--
                    --><li class="dot"></li>
                </ul>
                <div id="testim-content" class="cont">

                  <div class="pic">
                          <img src="https://images.pexels.com/photos/704955/pexels-photo-704955.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
                      </div>
                      <p class="description">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada vulputate nisi in fermentum. Vivamus ac libero quis nisi auctor pulvinar. Aenean sit amet lectus posuere, mattis massa eget, ullamcorper diam. Nunc sit amet felis eget arcu congue dictum.
                      </p>
                      <h3 class="title">Jessica</h3>
                      <small class="post">- Archietect</small>
                  </div>

                  <div class="testimonial">
                      <div class="pic">
                          <img src="https://images.pexels.com/photos/638700/pexels-photo-638700.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
                      </div>
                      <p class="description">
                          Freunde mit nach Hause zu nehmen, um die Spiele zusammen zu schauen. Dann essen wir immer Unmengen an Popcorn und trinken literweise Limonade, die wir vor Beginn des Spiels zusammen selbst machen. An meinem letzten Geburtstag haben mir meine Eltern sogar erlaubt, ein Paar Freunde mit ins Stadium zu nehmen. Das war ein richtiger Spaß, und wir haben Hot-Dogs gegessen. Ich glaube, wir waren die lauteste Gruppe, die unsere Mannschaft angefeuert hat. Manchmal spiele ich auch selbst Fußball. Aber in einen Verein möchte ich nicht eintreten. Das würde zu viel von meiner Freitzeit wegnehmen.
                      </p>
                      <h3 class="title">Pearl</h3>
                      <small class="post">- Engineer </small>
                  </div>

                  <div class="testimonial">
                      <div class="pic">
                          <img src="https://images.pexels.com/photos/531139/pexels-photo-531139.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
                      </div>
                      <p class="description">
                         Kraut’s Objections to Happiness
The sensation of happiness is something that has undeniably been argued about for many years by a wide range of philosophical individuals. Questions about the true meaning of being happy are very common, as there are many different viewpoints that have very different opinions on the matter. A well respected analytical philosopher, Richard Kraut, attempted to differentiate a few of these viewpoints, as well as his own standpoint in comparison with Aristotle, who had his own definition of happiness. Aristotle defined happiness in his Nicomachean Ethics as “eudaimon”, which has roughly been translated as “human flourishing”.
                      </p>
                      <h3 class="title">Kellie</h3>
                      <small class="post">- Graphic Designer</small>
                  </div>
              </div>
<!--         </div> -->
    </section>

<script src="https://use.fontawesome.com/1744f3f671.js"></script>
